// Ridiculously Responsive Social Sharing Buttons
// Team: @dbox, @seagoat
// Site: http://www.kurtnoble.com/Labs/rrssb
// Twitter: @therealkni

// config settings
$rrssb-text: #fff !default;
$rrssb-email: #0a88ff !default;
$rrssb-facebook: #306199 !default;
// continue https://github.com/kni-labs/rrssb/blob/master/scss/rrssb.scss
// http://www.webappers.com/2014/02/28/responsive-social-sharing-buttons-built-with-sass/