/*@import 'reset';*/

$dark-blue: #3A424C;
$light-blue: #DBEEF8;
$green: #6cc644;
$dark-green: darken($green, 10);
$grey: #eee;
$white: #fff;
$black: #000;
h3 { font-weight: bold; }

body {
    background: $dark-blue url("../../images/site-bg.gif") left top repeat-x;
}
.main-data-wrapper {
    width: 100%;
    padding-top: 20px;
    margin-left: 0;
    background-color: $light-blue;
}
.navbar.main {
    margin-bottom: -2px;
}
.navbar.sub-nav {
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    background-color: $light-blue;
}
.nav>li>a:hover {
    background-color: $white;
    border-bottom: 1px solid $white;
}
.large-table-wrapper {
	h3 {
		font-size: 1.2em;
		color: $dark-blue;
		padding: 0 1px 10px 1px;
	}
  .wrap-services {
    .panel-heading {
        margin-bottom: 6px;
        padding-top: 2px;
        padding-bottom: 2px;

        span {
            position: relative;
            top: 5px;
            font-weight: bold;
        }
      }

    .btn-group {
        margin-top: 5px;
        padding-bottom: 5px;
        .btn-select {
            padding: 2px 8px;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .btn-option {
      width: 130px;
      margin: 0 0px 6px 10px;
      font-size: 9px;
      text-transform: uppercase;
    }
    .btn-success {
      background-color: $green;
      border-color: $green;
      background-image: linear-gradient(to bottom, $green 0, $green 100%);
    }
     .btn-success:hover {
        background-color: $dark-green;
        border-color: $dark-green;
        background-image: linear-gradient(to bottom, $dark-green 0, $dark-green 100%);
     }
  }
}

/*
@mixin border-radius($radius) {
     -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
         -ms-border-radius: $radius;
          -o-border-radius: $radius;
             border-radius: $radius;
}
.box { @include border-radius(10px);}
*/